<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n"/>
    </Console>
    <File name="MyLogFile" fileName="logfile.log" immediateFlush="true" append="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console" level="debug"/>
      <AppenderRef ref="MyLogFile" level="debug"/>
    </Root>
  </Loggers>
</Configuration>